[submodule "baselines/RoomFormer"]
	path = baselines/RoomFormer
	url = git@github.com:gaspardruan/RoomFormer.git
[submodule "baselines/SceneScript"]
	path = baselines/SceneScript
	url = git@github.com:gaspardruan/scenescript.git
[submodule "baselines/VDETR"]
	path = baselines/VDETR
	url = git@github.com:gaspardruan/V-DETR.git
